services:
  api:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "8080:80"
    volumes:
      - ./backend/app:/code/app 
      - ./env:/code/env
    depends_on:
      mongo:
        condition: service_healthy
  mongo:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: borinesq
      MONGO_INITDB_ROOT_PASSWORD: 5ZZM0k96nB7WjzD6
    healthcheck:
      test:  echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    
  mongo-express:
    image: mongo-express:latest
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: borinesq
      ME_CONFIG_MONGODB_ADMINPASSWORD: 5ZZM0k96nB7WjzD6
      ME_CONFIG_MONGODB_URL: mongodb://borinesq:5ZZM0k96nB7WjzD6@mongo:27017/
      ME_CONFIG_BASICAUTH: false
    depends_on:
      mongo:
        condition: service_healthy

  