name: Deploy to Cloud Run

env:
  SERVICE_NAME: chesnut-live-api
  PROJECT_ID: chesnut-api
  DOCKER_IMAGE_URL: asia-southeast1-docker.pkg.dev/chesnut-api/chesnut-live-api/chesnut-live-api

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  dockerize-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Google Cloud Auth
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY }}"
          project_id: ${{ env.PROJECT_ID }}

      - name: Set up Cloud SDK
        uses: "google-github-actions/setup-gcloud@v2"

      - name: Configure Docker
        run: |
          gcloud auth configure-docker asia-southeast1-docker.pkg.dev

      - name: Build and Push Docker Image
        run: |
          docker build \
            --cache-from ${{ env.DOCKER_IMAGE_URL }}:latest \
            -t ${{ env.DOCKER_IMAGE_URL }}:latest \
            -f Dockerfile.prod .
          docker push ${{ env.DOCKER_IMAGE_URL }}:latest

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy $SERVICE_NAME \
            --image ${{ env.DOCKER_IMAGE_URL }}:latest \
            --platform managed \
            --region asia-southeast1 \
            --allow-unauthenticated \
            --timeout=900s

      - name: Set Public Access
        run: |
          gcloud run services add-iam-policy-binding $SERVICE_NAME \
            --region=asia-southeast1 \
            --member="allUsers" \
            --role="roles/run.invoker"
